@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");
:root {
  --backgroundBase: #151515;
  --white: #ffffff;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--white);
}

.banner {
  height: 30vh;
  font-size: 46px;
  padding-left: 50px;
  padding-top: 40px;
  font-weight: 800;
  letter-spacing: 0.04rem;
  line-height: 1;
}

.appCointainer {
  margin-right: 120px;
  margin-left: 120px;
}

@media (max-width: 800px) {
  .appCointainer {
    margin-right: 12px;
    margin-left: 12px;
  }
  .banner {
  font-size: 32px;
  padding-left: 40px;
  font-weight: 800;
  letter-spacing: 0.04rem;

  }
}

body {
  background: var(--backgroundBase);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.push-notification {
  position: fixed;
  width: auto;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
}

.notification {
  background: #61dafb;
  height: 40px;
  width: 140px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
